
body {
    margin: 0;
    padding: 0;
    background-color: #002F35;
    color: white;
    font-family: 'Segoe UI', sans-serif;
  }
.app-container {
    min-height: 100vh;
    background-color: #002F35; 
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 1rem; 
    flex: 1;
  }
  